.responsive {
  width: 100%;
  height: auto;
  
}




ul li:last-child{
  border-bottom-left-radius:2px;
  
}

/* Text shadow effect */

/* @keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
} */

.neonText {
  color: #c3ccce;
  /* -webkit-animation: flickerAnimation 3.5s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
   animation: flickerAnimation 3s infinite;
   animation-delay: 3s; */
   overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px  solid rgb(41, 195, 195); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40),
    blink-caret 1s infinite;
  text-shadow:
      0 0 7px #14d8d8f2,
      0 0 10px #3ab4c2,
      0 0 21px #aeceff43,
      0 0 42px rgb(47, 0, 255),
      0 0 82px rgb(28, 144, 183),
      0 0 92px rgb(76, 60, 118),
      0 0 102px rgb(13, 0, 255),
      0 0 151px rgb(7, 228, 239)

}

.Welcome{
  color: #c3ccce;
  -webkit-animation: flickerAnimation 3.5s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
   animation: flickerAnimation 3s infinite;
   animation-delay: 3s;
   overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px solid rgb(32, 178, 214); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40),
    blink-caret 1s infinite;
  text-shadow:
      0 0 7px #14d8d8f2,
      0 0 10px #3ab4c2,
      0 0 21px #aeceff43,
      0 0 42px rgb(47, 0, 255),
      0 0 82px rgb(28, 144, 183),
      0 0 92px rgb(76, 60, 118),
      0 0 102px rgb(13, 0, 255),
      0 0 151px rgb(7, 228, 239)

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(5, 230, 255); }
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }


/* Additional styling */
body {
  font-size: 10px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}  

h1, h2 {
  text-align: center;
  
  font-weight: 250;
}



  
h1 {
    font-size: 3.5rem;

}
  
h2 {
    font-size: 2.8rem;
}

.container {
  margin-top: 2vh;
}

/* Neon-style colors */
:root {
  --neon-color: #2b879c;
  --neon-glow: #97c2cc82;
  
}


.topnav{
  display: block;
  color: rgb(13, 213, 223);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 500px;
	font-size: 0;
  margin: 2px auto 0;
  padding: 50px;
	position: relative;
  
  
}
.topnav a {
  float:left;
  color: #0d8696;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 35px;
  width: 40px;
  height: 0px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px var(--neon-glow);
  color: #c3ccce;
  text-shadow:
      0 0 7px #14d8d8f2,
      0 0 10px #3ab4c2,
      0 0 21px #aeceff43,
      0 0 42px rgb(47, 0, 255),
      0 0 82px rgb(28, 144, 183),
      0 0 92px rgb(76, 60, 118),
      0 0 102px rgb(13, 0, 255),
      0 0 151px rgb(7, 228, 239);
  font-size: 25px;
  text-decoration: underline;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 2s infinite;
  -webkit-animation: blink 1.5s infinite;
  animation: shake 3s;
  animation-iteration-count: infinite ;


}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

@keyframes blink{
  20%,
  24%,
  55% {
    color: #2fa0b1;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  }
  
}

